.main {
  position: relative;
  z-index: 3;
  padding: 532px 0 20px;
}
.main:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 19, 36, 0.5);
  z-index: -2;
}
.main:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 289px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 19, 36, 0)), to(#0B1324));
  background: linear-gradient(180deg, rgba(11, 19, 36, 0) 0%, #0B1324 100%);
}
.main .h1 {
  margin: 0 0 40px;
  max-width: 990px;
}
.main .text-big {
  max-width: 490px;
  margin: 0;
  color: #C7CFDF;
}
.main .btn-price {
  margin: auto 0 0 auto;
}

.video-wrapper {
  height: 100%;
  position: absolute;
  z-index: -3;
  left: 0;
  top: 0;
}
.video-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0B1324;
  opacity: 0.5;
  z-index: 0;
}
.video-wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.advantages-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages-box {
  margin: 0 0 160px;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  border-left: 1px solid #22304D;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.advantages-box:hover {
  border-left: 2px solid #2F5FF5;
}
.advantages-box__icon {
  margin: 0 0 -20px;
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-box:last-child {
  margin: 0;
}

.advantages-list:last-child .advantages-box {
  margin-left: auto;
}

.about-company {
  border-top: 1px solid #22304D;
}
.about-company h2 {
  margin: 0 0 120px;
}

.subtitle-text {
  margin: 0 0 20px;
  color: #667085;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.subtitle-text:before {
  content: "";
  width: 17px;
  height: 2px;
  background: #667085;
  margin: 14px 10px 0 0;
}

.about-company-box__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  font-family: "Exo2", sans-serif;
  margin: 0 0 20px;
}
.about-company-box .box-text {
  font-size: 20px;
  color: #98A3BA;
}

.about-wrapper {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  margin: 90px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/about-img.jpg") no-repeat center center/cover;
  opacity: 0.5;
  z-index: 0;
  border-radius: 20px;
  overflow: hidden;
  z-index: -1;
}

.about-card {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  height: 480px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(11, 19, 36, 0.2);
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.about-card:hover {
  background: linear-gradient(0deg, #0B1324, #0B1324), linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%);
  border: 2px solid #2F5FF5;
}
.about-card__number {
  font-size: 160px;
  font-weight: 700;
  line-height: 110%;
  font-family: "Exo2", sans-serif;
  margin: 0 0 100px;
  color: transparent;
  -webkit-text-stroke: 2px #2F5FF5;
  text-stroke: 2px #2F5FF5;
}
.about-card .box-text {
  margin: auto 0 0;
  max-width: 534px;
}

.problems-section {
  padding: 0 0 140px;
}
.problems-section h2 {
  max-width: 460px;
}
.problems-section .box-text-big {
  max-width: 770px;
}

.problem-card {
  width: 100%;
  padding: 40px 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
}
.problem-card:before, .problem-card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: #22304D;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.problem-card:after {
  top: auto;
  bottom: 0;
}
.problem-card:hover {
  background: linear-gradient(243.37deg, rgba(0, 132, 255, 0.3) -4.85%, rgba(47, 95, 245, 0) 31.17%);
}
.problem-card:hover:before, .problem-card:hover:after {
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#88A5FF), to(#2F5FF5));
  background: linear-gradient(90deg, #88A5FF 0%, #2F5FF5 100%);
}
.problem-card:hover .problem-card__link {
  background: #2F5FF5;
  border-color: #2F5FF5;
}
.problem-card:hover .problem-card__link svg {
  fill: #fff;
}
.problem-card__images {
  height: 500px !important;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
          box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
  border: 1px solid #2F5FF5;
}
.problem-card__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.problem-card__body {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px 0 0;
}
.problem-card__body .box-text {
  margin: auto 0 0;
  max-width: 455px;
  width: 100%;
  line-height: 120%;
}
.problem-card__title {
  max-width: 455px;
}
.problem-card__link {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.problem-card__link svg {
  width: 14px;
  height: 14px;
  fill: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #2F5FF5;
  width: 4px;
  margin-left: -3px;
}

.twentytwenty-handle {
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  margin-left: -24px;
}

.twentytwenty-left-arrow {
  border: none;
  background: url("../img/arrow-left.svg") no-repeat center center;
  width: 14px;
  height: 14px;
  left: 0;
  top: 0;
  margin: 0;
  position: relative;
}

.twentytwenty-right-arrow {
  border: none;
  background: url("../img/arrow-right.svg") no-repeat center center;
  width: 14px;
  height: 14px;
  left: 0;
  top: 0;
  margin: 0;
  position: relative;
}

.btn-all-services {
  margin: 60px auto 0;
}

.else-services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(11, 19, 36, 0.8);
}

.else-services-card {
  width: 25%;
  height: 460px;
  padding: 40px;
  border: 1px solid #22304D;
  margin: 0 -0.5px -0.5px 0;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.else-services-card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.else-services-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 19, 36, 0.3);
  z-index: -2;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.else-services-card:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.6);
  border: 2px solid #2F5FF5;
  z-index: 2;
}
.else-services-card:hover .else-services-card__image, .else-services-card:hover .else-services-card__title {
  opacity: 1;
}
.else-services-card:hover .else-services-card__link {
  background: linear-gradient(275.29deg, #0084FF 2.63%, #2F5FF5 90.81%);
  border-color: #2F5FF5;
}
.else-services-card:hover .else-services-card__link svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.else-services-card:hover:before {
  opacity: 1;
}
.else-services-card:hover:after {
  opacity: 1;
}
.else-services-card:first-child {
  border-radius: 20px 0 0 0;
}
.else-services-card:nth-child(4) {
  border-radius: 0 20px 0 0;
}
.else-services-card:nth-child(5) {
  border-radius: 0 0 0 20px;
}
.else-services-card:last-child {
  border-radius: 0 0 20px 0;
}
.else-services-card__image {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;
  opacity: 0;
}
.else-services-card__footer {
  margin-top: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}
.else-services-card__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  font-family: "Exo2", sans-serif;
  text-transform: uppercase;
  opacity: 0;
  margin: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.else-services-card__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.else-services-card__link {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  fill: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.else-services-card__link svg {
  width: 12px;
  height: 12px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.stages-work__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 0;
  height: 100%;
}
.stages-work h2 {
  max-width: 680px;
}

.stages-work-card {
  width: 100%;
  padding: 250px 40px;
  position: relative;
  z-index: 1;
}
.stages-work-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgba(11, 19, 36, 0.2);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.stages-work-card__image {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.stages-work-card__content {
  margin: auto;
  width: 100%;
  max-width: 480px;
  height: 480px;
  border-radius: 20px;
  padding: 40px;
  border: 1px solid #2F5FF5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(11, 19, 36, 0.7);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
}
.stages-work-card__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: -1;
  background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%);
}
.stages-work-card__number {
  margin: 0 0 auto;
  color: transparent;
  -webkit-text-stroke: 2px #2F5FF5;
  font-size: 160px;
  font-family: "Exo2", sans-serif;
  font-weight: bold;
  line-height: 110%;
}
.stages-work-card:hover .stages-work-card__content {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.6);
  background: -webkit-gradient(linear, left bottom, left top, from(#0B1324), to(#0B1324));
  background: linear-gradient(0deg, #0B1324, #0B1324);
}
.stages-work-card:hover .stages-work-card__content::before {
  opacity: 1;
}

.steps-works-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  overflow: hidden;
}
.steps-works-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url("../img/steps-bg.png") no-repeat center;
  background-size: cover;
  opacity: 0.8;
}

.steps-work-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 687px;
  background: rgba(11, 19, 36, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.steps-work-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%);
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.steps-work-card:first-child {
  border-radius: 20px 0 0 20px;
}
.steps-work-card:last-child {
  border-radius: 0 20px 20px 0;
}
.steps-work-card__head {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.steps-work-card__head h4 {
  display: none;
}
.steps-work-card .h4 {
  margin: 0;
}
.steps-work-card .box-text {
  color: #98A3BA;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  margin: 40px 0 0;
}
.steps-work-card__body {
  width: 100%;
  position: relative;
  z-index: 1;
}
.steps-work-card__body .box-text {
  -webkit-transition: 3s ease;
  transition: 3s ease;
}
.steps-work-card__number {
  color: transparent;
  -webkit-text-stroke: 2px #2F5FF5;
  font-size: 80px;
  font-family: "Exo2", sans-serif;
  font-weight: bold;
  line-height: 110%;
}
.steps-work-card:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#0B1324), to(#0B1324));
  background: linear-gradient(0deg, #0B1324, #0B1324);
  border: 2px solid #2F5FF5;
}
.steps-work-card:hover::before {
  opacity: 1;
}
.steps-work-card__arrow {
  display: none;
  width: 14px;
  height: 14px;
  min-width: 14px;
  margin: 0 0 0 auto;
  fill: #98A3BA;
}

.partners-section {
  padding: 200px 0 0;
}

.partners-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.partners-slider .slide {
  height: 100%;
}
.partners-slider .slick-slide {
  height: inherit;
}
.partners-slider .first-visible .partners-box {
  border-left: 1px solid #22304D;
  border-top-left-radius: 24px;
}
.partners-slider .last-visible .partners-box {
  border-top-right-radius: 24px;
}

.partners-box {
  height: 100%;
  height: 360px;
  border-top: 1px solid #22304D;
  border-bottom: 1px solid #22304D;
  border-right: 1px solid #22304D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 0;
  position: relative;
  z-index: 1;
}
.partners-box::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%);
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.partners-box img {
  max-width: 290px;
  height: auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.partners-box:hover {
  border: 2px solid #2C67FA;
  background: -webkit-gradient(linear, left bottom, left top, from(#101A31), to(#101A31));
  background: linear-gradient(0deg, #101A31, #101A31);
}
.partners-box:hover::before {
  opacity: 1;
}

.question-section {
  padding-top: 140px;
}

.accordion {
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border: none;
  counter-reset: accordion-counter;
}

.accordion-item {
  background: transparent;
  color: #fff;
  border: none;
  border-radius: 0;
  margin: 0 0 -1px;
  counter-increment: accordion-counter;
  position: relative;
  z-index: 1;
}

.accordion-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 40px 20px;
  border: none;
  border-top: 1px solid #22304D;
  font-size: 24px;
  font-weight: 500;
  font-family: "Exo2", sans-serif;
  position: inherit;
}
.accordion-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #22304D;
}
.accordion-button::before {
  content: counter(accordion-counter, decimal-leading-zero) "/";
  color: #667085;
  margin: 0 40px 0 0;
}
.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-button span {
  margin: 0 40px 0 0;
}
.accordion-button__icon {
  margin: 0 0 0 auto;
  width: 14px;
  height: 14px;
  min-width: 14px;
  fill: #2F5FF5;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.accordion-button.collapsed .accordion-button:after {
  background: #2F5FF5;
}
.accordion-button.collapsed .accordion-button__icon {
  -webkit-transform: none;
          transform: none;
  fill: #98A3BA;
}

.accordion-button:not(.collapsed) {
  background: transparent;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2F5FF5;
}
.accordion-button:not(.collapsed):after {
  background: #2F5FF5;
  -webkit-transform: none;
          transform: none;
  z-index: 1;
}
.accordion-button:not(.collapsed)::before {
  color: #2F5FF5;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-item:first-of-type, .accordion-item:last-of-type, .accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}

.accordion-body {
  padding: 0 20px 40px 95px;
  color: #98A3BA;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.question-content {
  max-width: 580px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.manager-box {
  margin: auto 0;
  max-width: 265px;
  width: 100%;
}
.manager-box__avatar {
  border-radius: 50%;
  border: 1px solid #2F5FF5;
  -webkit-box-shadow: 0px 0px 19.13px 0px rgba(47, 95, 245, 0.6);
          box-shadow: 0px 0px 19.13px 0px rgba(47, 95, 245, 0.6);
  overflow: hidden;
  margin: 0 0 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  background: #D9D9D9;
}
.manager-box__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.manager-box .h4 {
  margin: 0 0 10px;
}
.manager-box__position {
  color: #667085;
}
.manager-box .box-text {
  margin: 30px 0 0;
  font-size: 18px;
  font-weight: 600;
  color: #C7CFDF;
}

.certificates-section {
  border-top: 1px solid #22304D;
  border-bottom: 1px solid #22304D;
  position: relative;
  overflow: hidden;
}
.certificates-section h2 {
  margin: 0 0 20px;
}

.certificates-slider {
  overflow: hidden;
}
.certificates-slider .slick-list {
  overflow: visible;
  padding: 40px 0;
}
.certificates-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.certificates-slider .slick-slide {
  height: auto;
}
.certificates-slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  -webkit-transform: scale(0.64);
          transform: scale(0.64);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.certificates-slider .slick-current {
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 5;
}
.certificates-slider .slick-current .certificates-item::before {
  opacity: 0;
}
.certificates-slider .slick-current .certificates-item img {
  -webkit-box-shadow: 0px 0px 19.13px 0px rgba(47, 95, 245, 0.6);
          box-shadow: 0px 0px 19.13px 0px rgba(47, 95, 245, 0.6);
}

.certificates-item {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  border: 1px solid #2F5FF5;
}
.certificates-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #0B1324;
  border-radius: 20px;
}
.certificates-item img {
  border-radius: 20px;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
          box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
}

.certificates-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 16px;
}

.certificates-counter {
  font-size: 24px;
  line-height: 1;
  color: #C7CFDF;
  font-family: "Exo2", sans-serif;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.certificates-counter .total {
  color: #667085;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.certificates-counter .total::before {
  content: "/";
  display: inline-block;
}

.certificates-counter {
  margin: 0 30px 0 0;
}

.certificates-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.stends {
  padding: 110px 0;
}

.stend-card {
  width: 100%;
  padding: 40px 0;
  position: relative;
  z-index: 1;
  margin: 0 0 -1px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.stend-card::before, .stend-card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background: #22304D;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.stend-card:before {
  top: 0;
}
.stend-card:after {
  bottom: 0;
}
.stend-card:hover {
  background: linear-gradient(0deg, #101A31, #101A31), linear-gradient(243.37deg, rgba(0, 132, 255, 0.3) -4.85%, rgba(47, 95, 245, 0) 31.17%);
  z-index: 2;
}
.stend-card:hover:before, .stend-card:hover:after {
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#88A5FF), to(#2F5FF5));
  background: linear-gradient(90deg, #88A5FF 0%, #2F5FF5 100%);
}
.stend-card:hover .stend-card__img {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
          box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
  border: 1px solid #2F5FF5;
}
.stend-card__img {
  width: 100%;
  height: 300px;
  background: #D9D9D9;
  border: 1px solid transparent;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stend-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.stend-card .box-text {
  color: #98A3BA;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  max-width: 454px;
}
.stend-card__title {
  max-width: 433px;
}

.photos-gallery {
  padding-bottom: 120px;
}

.photos-gallery-card {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
  padding: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.photos-gallery-card:hover {
  border: 2px solid #2F5FF5;
}
.photos-gallery-card:hover:before {
  background: rgba(16, 26, 49, 0.7);
}
.photos-gallery-card:hover:after {
  height: 100%;
  background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%);
}
.photos-gallery-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  border-radius: 20px;
}
.photos-gallery-card::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(11, 19, 36, 0.4);
  left: 0;
  top: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 20px;
}
.photos-gallery-card:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 268px;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: -webkit-gradient(linear, left bottom, left top, from(#0B1324), to(rgba(16, 26, 49, 0)));
  background: linear-gradient(360deg, #0B1324 0%, rgba(16, 26, 49, 0) 100%);
  border-radius: 20px;
}
.photos-gallery-card__body {
  width: 100%;
  position: relative;
  z-index: 2;
  color: #fff;
}
.photos-gallery-card__title {
  margin: 0;
}

.technical-equimpent {
  padding: 120px 0 0;
}

.technical-equimpent-card {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 2;
  padding: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.technical-equimpent-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.technical-equimpent-card:before, .technical-equimpent-card:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
.technical-equimpent-card::before {
  top: 0;
  height: 100%;
}
.technical-equimpent-card:after {
  height: 268px;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#0B1324), to(rgba(16, 26, 49, 0)));
  background: linear-gradient(360deg, #0B1324 0%, rgba(16, 26, 49, 0) 100%);
}
.technical-equimpent-card__body {
  width: 100%;
  position: relative;
  z-index: 2;
}
.technical-equimpent-card h4 {
  margin: 0;
}

.works-section {
  border-top: 1px solid #22304D;
  padding: 140px 0 0;
}

.works-slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 60px;
}
.works-slider-arrows .slick-next {
  margin-left: 10px;
}

.works-slider .slick-list {
  margin: 0 -10px;
}
.works-slider .slide {
  padding: 0 10px;
}

.text-info {
  padding: 20px;
  border-left: 2px solid #2F5FF5;
  background: #101A31;
  color: #fff !important;
  margin: auto 0 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}

.callback-section {
  position: relative;
  z-index: 1;
  padding: 0 0 140px;
  overflow: hidden;
}
.callback-section:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: -200px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url("../img/callback-bg.png") no-repeat center;
  background-size: 100%;
  width: 1400px;
  height: 1400px;
}
.callback-section h2 {
  margin: 0 0 40px;
}
.callback-section .text-big {
  color: #98A3BA;
  font-weight: 500;
  max-width: 610px;
  margin: 0 0 20px;
}

.callback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 665px;
}

.callback-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 0 0 auto;
  border: 2px solid #2F5FF5;
  border-radius: 20px;
  background: #101A31;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.6);
  padding: 50px 60px;
}

.consent {
  margin: 20px 0 0;
  color: #667085;
  line-height: 120%;
}

.form-callback [type=submit] {
  margin: 40px 0 0;
}