.main {
  position: relative;
  z-index: 1;
  padding: 532px 0 20px;
}
.main .h1 {
  margin: 0 0 40px;
  max-width: 990px;
}
.main .text-big {
  max-width: 490px;
}
.main .btn-price {
  margin: auto 0 0 auto;
}

.video-wrapper {
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
.video-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0B1324;
  opacity: 0.5;
  z-index: 0;
}
.video-wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages-section {
  position: relative;
  z-index: 1;
}

.advantages-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages-box {
  margin: 0 0 160px;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  border-left: 1px solid #22304D;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.advantages-box:hover {
  border-left: 2px solid #2F5FF5;
}
.advantages-box__icon {
  margin: 0 0 -20px;
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-box:last-child {
  margin: 0;
}

.advantages-list:last-child .advantages-box {
  margin-left: auto;
}

.about-company {
  border-top: 1px solid #22304D;
}
.about-company h2 {
  margin: 0 0 120px;
}

.about-date {
  margin: 0 0 20px;
  color: #667085;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-date:before {
  content: "";
  width: 17px;
  height: 2px;
  background: #667085;
  margin-right: 10px;
}

.about-company-box__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  ffamily: "Exo2", sans-serif;
  margin: 0 0 20px;
}
.about-company-box .box-text {
  font-size: 20px;
  color: #98A3BA;
}

.about-wrapper {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  margin: 90px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/about-img.jpg") no-repeat center center/cover;
  opacity: 0.5;
  z-index: 0;
  border-radius: 20px;
  overflow: hidden;
  z-index: -1;
}

.about-card {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  height: 480px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(11, 19, 36, 0.2);
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.about-card:hover {
  background: linear-gradient(0deg, #0B1324, #0B1324), linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%);
  border: 2px solid #2F5FF5;
}
.about-card__number {
  font-size: 160px;
  font-weight: 700;
  line-height: 110%;
  font-family: "Exo2", sans-serif;
  margin: 0 0 100px;
  color: transparent;
  -webkit-text-stroke: 2px #2F5FF5;
  text-stroke: 2px #2F5FF5;
}
.about-card .box-text {
  margin: auto 0 0;
  max-width: 534px;
}

.problems-section h2 {
  max-width: 460px;
}
.problems-section .box-text-big {
  max-width: 770px;
}

.problem-card {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #22304D;
}
.problem-card:last-child {
  border-bottom: 1px solid #22304D;
}
.problem-card__images {
  height: 500px !important;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
          box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
  border: 1px solid #2F5FF5;
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #2F5FF5;
  width: 4px;
  margin-left: -3px;
}

.twentytwenty-handle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  margin-left: -24px;
}

.twentytwenty-horizontal .twentytwenty-handle:before {
  margin-bottom: 26px;
}

.twentytwenty-horizontal .twentytwenty-handle:after {
  margin-top: 26px;
}

.twentytwenty-left-arrow {
  border: none;
  background: url("../img/arrow-left.svg") no-repeat center center;
  width: 14px;
  height: 14px;
  left: 0;
  top: 0;
  margin: 0;
  position: relative;
}

.twentytwenty-right-arrow {
  border: none;
  background: url("../img/arrow-right.svg") no-repeat center center;
  width: 14px;
  height: 14px;
  left: 0;
  top: 0;
  margin: 0;
  position: relative;
}