/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1650px) {
  .list-social {
    margin: 0 auto;
  }
  h1 {
    font-size: 100px;
  }
}
@media only screen and (max-width: 1350px) {
  .nav-menu {
    margin: 0 auto 0 30px;
  }
  .container {
    padding: 0 24px;
  }
  header::before {
    width: calc(100% - 48px);
  }
  header .phone, header .address {
    margin: 0 20px 0 0;
  }
  .partners-box img {
    max-width: 200px;
  }
}
@media only screen and (max-width: 1200px) {
  header::before {
    width: 100%;
  }
  .nav-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    margin: 0;
    background: #101A31;
    border-radius: 0 0 0 20px;
    padding: 60px 40px;
  }
  .nav-menu .address, .nav-menu .btn-callback-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu .address {
    margin: 93px 0 40px;
    padding: 0 20px;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 20px;
    font-size: 16px;
  }
  .menu li {
    margin: 0 0 20px;
  }
  .menu li:last-child {
    margin: 0;
  }
  header {
    padding: 0;
  }
  header::before {
    background: #22304D;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  header .address, header .btn-callback-header {
    display: none;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .phone {
    font-size: 16px;
  }
  h1, .h1 {
    font-size: 80px;
  }
  .h1 {
    font-size: 40px;
  }
  h2, .h2 {
    font-size: 34px;
    margin: 0 0 40px;
  }
  .p-200 {
    padding: 140px 0;
  }
  .p-140 {
    padding: 100px 0;
  }
  .about-company h2 {
    margin: 0 0 70px;
  }
  .problems-section {
    padding: 0 0 60px;
  }
  .btn-all-services {
    margin: 40px auto 0;
  }
  .steps-work-card__number {
    font-size: 50px;
  }
  .steps-work-card {
    padding: 20px;
  }
  .mail-link {
    font-size: 18px;
    margin: 0 0 0 20px;
  }
  .footer-phones a {
    font-size: 18px;
  }
  .address-box {
    font-size: 16px;
  }
  .schedule-box {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) {
  .main {
    padding: 80px 0 40px;
  }
  .main .btn-price {
    margin: 20px 0 0;
  }
  .main .h1 {
    margin: 0 0 20px;
  }
  .main .text-big {
    max-width: none;
    margin: 0;
  }
  .main:after {
    height: 220px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 19, 36, 0)), to(#0B1324));
    background: linear-gradient(180deg, rgba(11, 19, 36, 0) 0%, #0B1324 100%);
  }
  h1 {
    margin: 0 0 172px;
    font-size: 70px;
  }
  .h1 {
    font-size: 34px;
    margin: 0 0 20px;
  }
  .h1 br {
    display: none;
  }
  h2, .h2 {
    font-size: 28px;
    line-height: 100%;
  }
  h3, .h3 {
    font-size: 22px;
    margin: 0 0 20px;
  }
  h4, .h4 {
    font-size: 20px;
  }
  .mb-60 {
    margin-bottom: 40px;
  }
  .mb-140 {
    margin-bottom: 60px;
  }
  input, textarea, select, .label-file {
    font-size: 16px;
  }
  input, select {
    height: 39px;
  }
  textarea {
    height: 100px;
  }
  label {
    margin: 0 0 20px;
  }
  label:last-child {
    margin: 0;
  }
  .form-callback [type=submit] {
    margin: 20px 0 0;
  }
  .subtitle-text {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .subtitle-text::before {
    margin: 10px 10px 0 0;
  }
  .text-big {
    font-size: 18px;
  }
  .p-200, .p-140 {
    padding: 60px 0;
  }
  .advantages-image {
    top: 45%;
  }
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-bottom: 230px;
  }
  .advantages-list:last-child {
    margin-bottom: 0;
  }
  .advantages-box {
    margin: 0;
    width: 50%;
    max-width: none;
  }
  .about-wrapper {
    margin: 0;
  }
  .about-company h2 {
    margin: 0 0 30px;
  }
  .about-company-box__title {
    font-size: 44px;
    line-height: 1;
    margin: 0 0 10px;
  }
  .about-company-box .box-text {
    font-size: 16px;
  }
  .about-card__number {
    font-size: 120px;
  }
  .problem-card {
    padding: 20px 0;
  }
  .problem-card__body {
    padding: 20px 50px 0 0;
  }
  .problem-card__title {
    max-width: none;
    margin: 0 0 20px;
  }
  .problem-card__body .box-text {
    max-width: none;
    font-size: 14px;
    line-height: 120%;
  }
  .problem-card__price {
    margin: 0 0 40px;
  }
  .problem-card__link {
    top: 20px;
  }
  .problem-card__images {
    height: 432px !important;
  }
  .else-services-card {
    width: 50%;
  }
  .else-services-card:nth-child(2) {
    border-radius: 0 20px 0 0;
  }
  .else-services-card:nth-child(4), .else-services-card:nth-child(5) {
    border-radius: 0;
  }
  .else-services-card:nth-child(7) {
    border-radius: 0 0 0 20px;
  }
  .stages-work {
    padding: 60px 0;
    border-top: 1px solid #22304D;
  }
  .stages-work__content {
    padding: 0;
    margin: 0 0 40px;
  }
  .stages-work h2 {
    margin: 0;
    max-width: none;
  }
  .stages-work h2 br {
    display: none;
  }
  .stages-work-card {
    padding: 150px 30px;
  }
  .stages-work-card__number {
    font-size: 100px;
  }
  .callback-section:before {
    width: 290px;
    height: 290px;
    top: 0;
    left: auto;
    right: 0;
    -webkit-transform: none;
            transform: none;
  }
  .callback-content {
    max-width: none;
  }
  .callback-wrapper {
    margin: 20px 0 0;
    max-width: none;
    padding: 40px;
  }
  .callback-section {
    padding: 0 0 60px;
  }
  .callback-section .text-big {
    max-width: none;
  }
  .text-info {
    font-size: 16px;
  }
  .steps-works-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .steps-work-card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    height: auto;
    padding: 20px;
  }
  .steps-work-card:first-child {
    border-radius: 20px 20px 0 0;
  }
  .steps-work-card:last-child {
    border-radius: 0 0 20px 20px;
  }
  .steps-work-card__head {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .steps-work-card__head .h4 {
    display: block;
  }
  .steps-work-card__number {
    font-size: 40px;
    min-width: 200px;
  }
  .steps-work-card__body {
    display: none;
  }
  .steps-work-card__body h4 {
    display: none;
  }
  .steps-work-card__body .box-text {
    margin: 20px 0 0;
    font-size: 16px;
    line-height: 140%;
    display: block;
  }
  .steps-work-card__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .steps-work-card.active {
    border: 2px solid #2F5FF5;
    background: -webkit-gradient(linear, left bottom, left top, from(#0B1324), to(#0B1324));
    background: linear-gradient(0deg, #0B1324, #0B1324);
  }
  .steps-work-card.active::before {
    opacity: 1;
  }
  .steps-work-card.active .steps-work-card__body {
    display: block;
  }
  .steps-work-card.active .steps-work-card__arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    fill: #2f5ff5;
  }
  .works-section {
    padding: 60px 0 0;
  }
  .works-slider {
    padding: 0 0 90px;
  }
  .works-slider .slick-arrow {
    position: absolute;
    top: auto;
    bottom: 0;
  }
  .works-slider .slick-next {
    right: calc(50% - 55px);
  }
  .works-slider .slick-prev {
    left: calc(50% - 55px);
  }
  .technical-equimpent {
    padding: 60px 0 0;
  }
  .technical-equimpent-card {
    height: 600px;
  }
  .stends {
    padding: 30px 0 60px;
  }
  .stend-card__title {
    max-width: none;
  }
  .stend-card .box-text {
    max-width: none;
    font-size: 16px;
    line-height: 140%;
  }
  .stend-card__img {
    margin: 20px 0 0;
  }
  .photos-gallery-card {
    padding: 20px;
    height: 320px;
  }
  .photos-gallery-card:after {
    height: 150px;
  }
  .photos-gallery {
    padding-bottom: 60px;
  }
  .question-section, .partners-section {
    padding: 60px 0 0;
  }
  .accordion-button {
    padding: 20px 0;
    font-size: 18px;
  }
  .accordion-button::before {
    margin: 0 20px 0 0;
  }
  .accordion-body {
    padding: 0 0 20px;
  }
  .manager-box {
    width: 100%;
    max-width: none;
    margin: 40px 0 0;
  }
  .manager-box__avatar {
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin: 0 10px 0 0;
  }
  .manager-box__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  .manager-box .box-text {
    max-width: 240px;
    font-size: 16px;
    margin: 0 auto 0 0;
  }
  .manager-box__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0 0;
  }
  .partners-box {
    padding: 4px 8px;
    height: 250px;
  }
  .logo-footer {
    max-width: 300px;
  }
  footer {
    padding: 60px 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-center {
    margin: 40px 0 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 14px;
  }
  .menu-footer li {
    margin: 0 0 4px;
  }
  .menu-footer li:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .advantages-box {
    font-size: 15px;
    line-height: 120%;
  }
  .advantages-box__icon {
    width: 100px;
    height: 100px;
    margin: 0 0 -10px;
  }
  .about-card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    height: auto;
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .about-card:first-child {
    border-radius: 20px 20px 0 0;
  }
  .about-card:last-child {
    border-radius: 0 0 20px 20px;
  }
  .about-card__number {
    font-size: 50px;
    margin: 0 20px 0 0;
  }
  .about-card .box-text {
    max-width: none;
    margin: 0;
    font-size: 16px;
    line-height: 130%;
  }
  .stages-work-card {
    padding: 0;
    border: 1px solid #2F5FF5;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
            box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
  }
  .stages-work-card__image {
    opacity: 0.4;
  }
  .stages-work-card::before {
    display: none;
  }
  .stages-work-card__number {
    margin: 0 0 60px;
    font-size: 50px;
  }
  .stages-work-card .text-big {
    font-size: 16px;
  }
  .stages-work-card-first {
    border-radius: 20px 20px 0 0;
  }
  .stages-work-card-first .stages-work-card__content, .stages-work-card-first .stages-work-card__image {
    border-radius: 20px 20px 0 0;
  }
  .stages-work-card-first .stages-work-card__content::before, .stages-work-card-first .stages-work-card__image::before {
    border-radius: 20px 20px 0 0;
  }
  .stages-work-card-last {
    border-radius: 0 0 20px 20px;
  }
  .stages-work-card-last .stages-work-card__content, .stages-work-card-last .stages-work-card__image {
    border-radius: 0 0 20px 20px;
  }
  .stages-work-card-last .stages-work-card__content::before, .stages-work-card-last .stages-work-card__image::before {
    border-radius: 0 0 20px 20px;
  }
  .stages-work-card__content {
    max-width: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    padding: 20px;
  }
  .technical-equimpent-card {
    height: 300px;
    padding: 20px;
  }
  .technical-equimpent-card:after {
    height: 150px;
  }
  .footer-contacts {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px 0 0;
  }
  .schedule-box {
    white-space: nowrap;
  }
  .list-social {
    margin: 0 0 0 auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer-phones {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .mail-link {
    width: 100%;
    margin: 10px 0 0;
  }
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 54px;
  }
  h4, .h4 {
    font-size: 18px;
  }
  .advantages-image {
    width: 100%;
    top: 43%;
  }
  .else-services-card {
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    border-color: #2F5FF5;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
            box-shadow: 0px 0px 20px 0px rgba(47, 95, 245, 0.4);
  }
  .else-services-card__footer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin: 0;
  }
  .else-services-card__footer br {
    display: none;
  }
  .else-services-card__title {
    display: none;
  }
  .else-services-card__head {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  .else-services-card:first-child {
    border-radius: 20px 20px 0 0;
  }
  .else-services-card:nth-child(2), .else-services-card:nth-child(7) {
    border-radius: 0;
  }
  .else-services-card:last-child {
    border-radius: 0 0 20px 20px;
  }
  .steps-work-card .h4 {
    font-size: 18px;
  }
  .steps-work-card__number {
    font-size: 20px;
    min-width: 100px;
  }
  .certificates-bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .certificates-section h2 br {
    display: none;
  }
  .partners-box {
    height: 100px;
  }
  .partners-box img {
    max-width: 100%;
    max-height: 100%;
  }
  footer:after {
    width: 580px;
    height: 230px;
  }
  .logo-footer {
    max-width: 180px;
  }
  .schedule-box p {
    margin: 0 0 4px;
  }
  .schedule-box p:last-child {
    margin: 0;
  }
  .modal-content {
    padding: 40px;
  }
  .modal-body {
    margin: 20px 0 0;
  }
  .modal-header .btn-close {
    top: 10px;
    right: 10px;
  }
  .modal-header .box-text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 370px) {
  .about-company-box__title {
    font-size: 30px;
  }
  .advantages-list {
    margin-bottom: 180px;
  }
  .advantages-list:last-child {
    margin: 0;
  }
  .advantages-image {
    top: 50%;
  }
  h1 {
    font-size: 50px;
  }
  .h1 {
    font-size: 30px;
  }
  .btn-burger {
    width: 50px;
    height: 60px;
    min-width: 50px;
  }
  .phone {
    font-size: 14px;
  }
  .container {
    padding: 0 16px;
  }
  .logo {
    max-width: 80px;
  }
}
@media only screen and (min-width: 992px) {
  .steps-work-card__body .box-text {
    display: none;
  }
  .steps-work-card:hover .steps-work-card__body .box-text {
    display: block;
  }
}