@import "vars"

header
    position: absolute
    z-index: 3
    width: 100%
    left: 0
    top: 0
    padding: 20px 0
    &::before
        content: ''
        position: absolute
        left: 50%
        bottom: 0
        width: calc( 100% - 80px )
        height: 1px
        background: #657597



    