@import "vars"

.main
    position: relative
    z-index: 3
    padding: 532px 0 20px
    &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: rgba(#0B1324, .5)
        z-index: -2
    &:after
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 289px
        z-index: -1
        background: linear-gradient(180deg, rgba(11, 19, 36, 0) 0%, #0B1324 100%)
    .h1
        margin: 0 0 40px
        max-width: 990px
    .text-big
        max-width: 490px
        margin: 0
        color: #C7CFDF
    .btn-price
        margin: auto 0 0 auto

.video-wrapper
    height: 100%
    position: absolute
    z-index: -3
    left: 0
    top: 0
    &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: #0B1324
        opacity: 0.5
        z-index: 0
    video
        width: 100%
        height: 100%
        object-fit: cover

// .advantages-section
.advantages-section
    position: relative
    z-index: 1

.advantages-image
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    z-index: -1
    @include d-flex

.advantages-box
    margin: 0 0 160px
    max-width: 400px
    width: 100%
    padding: 20px
    font-size: 18px
    font-weight: 600
    line-height: 140%
    border-left: 1px solid #22304D
    transition: .3s ease
    &:hover
        border-left: 2px solid #2F5FF5

    &__icon
        margin: 0 0 -20px
        width: 160px
        height: 160px
        @include d-flex
    &:last-child
        margin: 0

.advantages-list
    &:last-child
        .advantages-box
            margin-left: auto

// about
.about-company
    border-top: 1px solid #22304D
    h2
        margin: 0 0 120px

.subtitle-text
    margin: 0 0 20px
    color: #667085
    font-size: 20px
    font-weight: 600
    display: flex
    align-items: flex-start
    &:before
        content: ''
        width: 17px
        height: 2px
        background: #667085
        margin: 14px 10px 0 0

.about-company-box
    &__title
        font-size: 80px
        font-weight: 700
        line-height: 1
        font-family: $title-font
        margin: 0 0 20px
    .box-text
        font-size: 20px
        color: #98A3BA

.about-wrapper
    position: relative
    z-index: 1
    border-radius: 20px
    margin: 90px 0 0
    display: flex
    align-items: stretch
    flex-wrap: wrap
    &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: url('../img/about-img.jpg') no-repeat center center/cover
        opacity: 0.5
        z-index: 0
        border-radius: 20px
        overflow: hidden
        z-index: -1

.about-card
    flex: 33.333%
    height: 480px
    padding: 40px
    display: flex
    flex-direction: column
    border: 1px solid rgba(#fff, .08)
    background: rgba(#0B1324, .2)
    color: #fff
    transition: .3s ease
    &:hover
        background: linear-gradient(0deg, #0B1324, #0B1324), linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%)
        border: 2px solid #2F5FF5
    &__number
        font-size: 160px
        font-weight: 700
        line-height: 110%
        font-family: $title-font
        margin: 0 0 100px
        color: transparent
        -webkit-text-stroke: 2px #2F5FF5
        text-stroke: 2px #2F5FF5
    .box-text
        margin: auto 0 0
        max-width: 534px

.problems-section
    padding: 0 0 140px
    h2
        max-width: 460px
    .box-text-big
        max-width: 770px

.problem-card
    width: 100%
    padding: 40px 0
    transition: .3s ease
    position: relative
    z-index: 1
    &:before, &:after
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 1px
        background: #22304D
        transition: .3s ease
    &:after
        top: auto
        bottom: 0
    &:hover
        background: linear-gradient(243.37deg, rgba(0, 132, 255, 0.3) -4.85%, rgba(47, 95, 245, 0) 31.17%)
        &:before, &:after
            height: 2px
            background: linear-gradient(90deg, #88A5FF 0%, #2F5FF5 100%)

        .problem-card
            &__link
                background: #2F5FF5
                border-color: #2F5FF5
                svg
                    fill: #fff
    &__images
        height: 500px !important
        overflow: hidden
        width: 100%
        border-radius: 20px
        box-shadow: 0px 0px 20px 0px #2F5FF566
        border: 1px solid #2F5FF5
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__body
        position: relative
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        padding: 0 50px 0 0
        .box-text
            margin: auto 0 0
            max-width: 455px
            width: 100%
            line-height: 120%
    &__title
        max-width: 455px
    &__link
        border-radius: 50%
        border: 1px solid #FFFFFF
        width: 50px
        height: 50px
        top: 0
        right: 0
        position: absolute
        @include d-flex
        svg
            width: 14px
            height: 14px
            fill: #fff
            transition: .3s ease
            transform: rotate(90deg)

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after
    box-shadow: none
    background: #2F5FF5
    width: 4px
    margin-left: -3px

.twentytwenty-handle
    width: 40px
    height: 40px
    box-sizing: border-box
    border-radius: 50%
    background: #fff
    border: none
    box-shadow: none
    display: flex
    align-items: center
    justify-content: center
    padding: 6px
    margin-left: -24px

// .twentytwenty-horizontal .twentytwenty-handle:before
//     margin-bottom: 26px

// .twentytwenty-horizontal .twentytwenty-handle:after
//     margin-top: 26px

.twentytwenty-left-arrow
    border: none
    background: url('../img/arrow-left.svg') no-repeat center center
    width: 14px
    height: 14px
    left: 0
    top: 0
    margin: 0
    position: relative

.twentytwenty-right-arrow
    border: none
    background: url('../img/arrow-right.svg') no-repeat center center
    width: 14px
    height: 14px
    left: 0
    top: 0
    margin: 0
    position: relative

.btn-all-services
    margin: 60px auto 0

.else-services-wrapper
    display: flex
    align-items: stretch
    flex-wrap: wrap
    background: rgba(#0B1324, .8)

.else-services-card
    width: 25%
    height: 460px
    padding: 40px
    border: 1px solid #22304D
    margin: 0 -0.5px -0.5px 0
    position: relative
    z-index: 1
    transition: .3s ease
    overflow: hidden
    display: flex
    flex-direction: column
    &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%)
        z-index: -1
        opacity: 0
        transition: .3s ease
    &::after
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: rgba(#0B1324, .3)
        z-index: -2
        opacity: 0
        transition: .3s ease
    &:hover
        box-shadow: 0px 0px 20px 0px #2F5FF599
        border: 2px solid #2F5FF5
        z-index: 2
        .else-services-card
            &__image, &__title
                opacity: 1
            &__link
                background: linear-gradient(275.29deg, #0084FF 2.63%, #2F5FF5 90.81%)
                border-color: #2F5FF5
                svg
                    transform: rotate(45deg)
        &:before
            opacity: 1
        &:after
            opacity: 1

    &:first-child
        border-radius: 20px 0 0 0
    &:nth-child(4)
        border-radius: 0 20px 0 0
    &:nth-child(5)
        border-radius: 0 0 0 20px
    &:last-child
        border-radius: 0 0 20px 0
    &__image
        width: 100%
        height: 100%
        transition: .3s ease
        object-fit: cover
        position: absolute
        left: 0
        top: 0
        z-index: -3
        opacity: 0
    &__footer
        margin-top: auto
        font-size: 18px
        font-weight: 600
        line-height: 140%
    &__title
        font-size: 16px
        font-weight: 600
        line-height: 120%
        font-family: $title-font
        text-transform: uppercase
        opacity: 0
        margin: 0
        transition: .3s ease
    &__head
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
    &__link
        width: 50px
        min-width: 50px
        height: 50px
        border-radius: 50%
        border: 1px solid #fff
        fill: #fff
        @include d-flex
        svg
            width: 12px
            height: 12px
            transition: .3s ease

.stages-work
    &__content
        width: 100%
        display: flex
        flex-direction: column
        padding: 120px 0
        height: 100%
    h2
        max-width: 680px

.stages-work-card
    width: 100%
    padding: 250px 40px
    position: relative
    z-index: 1
    &::before
        content: ''
        position: absolute
        z-index: -1
        background: rgba(#0B1324, .2)
        left: 0
        top: 0
        width: 100%
        height: 100%
    &__image
        position: absolute
        z-index: -2
        width: 100%
        height: 100%
        object-fit: cover
        top: 0
        left: 0
        opacity: 0.6
    &__content
        margin: auto
        width: 100%
        max-width: 480px
        height: 480px
        border-radius: 20px
        padding: 40px
        border: 1px solid #2F5FF5
        display: flex
        flex-direction: column
        background: rgba(#0B1324, .7)
        transition: .3s ease
        position: relative
        z-index: 1
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0
            opacity: 0
            width: 100%
            height: 100%
            border-radius: 20px
            transition: .3s ease
            z-index: -1
            background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%)
    &__number
        margin: 0 0 auto
        color: transparent
        -webkit-text-stroke: 2px #2F5FF5
        font-size: 160px
        font-family: $title-font
        font-weight: bold
        line-height: 110%
    &:hover
        .stages-work-card
            &__content
                box-shadow: 0px 0px 20px 0px #2F5FF599
                background: linear-gradient(0deg, #0B1324, #0B1324)
                &::before
                    opacity: 1

.steps-works-wrapper
    width: 100%
    display: flex
    align-items: stretch
    position: relative
    z-index: 2
    border-radius: 20px
    overflow: hidden
    &::before
        content: ''
        position: absolute
        z-index: -1
        width: 100%
        height: 100%
        background: url('../img/steps-bg.png') no-repeat center
        background-size: cover
        opacity: 0.8

.steps-work-card
    flex: 1
    height: 687px
    background: rgba(#0B1324, .2)
    border: 1px solid rgba(#fff, .08)
    padding: 40px
    position: relative
    z-index: 1
    overflow: hidden
    transition: .3s ease
    display: flex
    flex-direction: column
    &::before
        content: ''
        position: absolute
        z-index: -1
        width: 100%
        height: 100%
        left: 0
        top: 0
        background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%)
        opacity: 0
        transition: .3s ease
    &:first-child
        border-radius: 20px 0 0 20px
    &:last-child
        border-radius: 0 20px 20px 0
    &__head
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
    h4
        margin: 0
    .box-text
        color: #98A3BA
        font-size: 18px
        font-weight: 600
        line-height: 140%
        margin: 40px 0 0
    &__body
        width: 100%
        position: relative
        z-index: 1
        .box-text
            transition: 3s ease
            display: none
    &__number
        color: transparent
        -webkit-text-stroke: 2px #2F5FF5
        font-size: 80px
        font-family: $title-font
        font-weight: bold
        line-height: 110%
    &:hover
        background: linear-gradient(0deg, #0B1324, #0B1324)
        border: 2px solid #2F5FF5
        &::before
            opacity: 1
        .steps-work-card

            &__body
                .box-text
                    display: block

.partners-section
    padding: 200px 0 0

.partners-slider
    .slick-track
        display: flex
    .slide
        height: 100%
    .slick-slide
        height: inherit

    .first-visible .partners-box
        border-left: 1px solid #22304D
        border-top-left-radius: 24px

    .last-visible .partners-box
        border-top-right-radius: 24px

.partners-box
    height: 100%
    height: 360px
    border-top: 1px solid #22304D
    border-bottom: 1px solid #22304D
    border-right: 1px solid #22304D
    display: flex
    align-items: center
    justify-content: center
    padding: 40px
    transition: .3s ease
    border-radius: 0
    position: relative
    z-index: 1
    &::before
        content: ""
        position: absolute
        z-index: -1
        width: 100%
        height: 100%
        left: 0
        top: 0
        background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%)
        opacity: 0
        -webkit-transition: 0.3s ease
        transition: 0.3s ease

    img
        max-width: 290px
        height: auto
        filter: grayscale(1)
    &:hover
        border: 2px solid #2C67FA
        background: linear-gradient(0deg, #101A31, #101A31)
        &::before
            opacity: 1

.question-section
    padding-top: 140px

.accordion
    width: 100%
    background: transparent
    box-shadow: none
    border-radius: 0
    border: none
    counter-reset: accordion-counter

.accordion-item
    background: transparent
    color: #fff
    border: none
    border-radius: 0
    margin: 0 0 -1px
    counter-increment: accordion-counter
    position: relative
    z-index: 1

.accordion-button
    width: 100%
    display: flex
    align-items: start
    background: transparent
    color: #fff
    font-size: 18px
    font-weight: 500
    padding: 40px 20px
    border: none
    border-top: 1px solid #22304D
    font-size: 24px
    font-weight: 500
    font-family: $title-font
    position: inherit
    &::after
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 1px
        background: #22304D
    &::before
        content: counter(accordion-counter, decimal-leading-zero) "/"
        color: #667085
        margin: 0 40px 0 0
    &:focus
        box-shadow: none
    span
        margin: 0 40px 0 0
    &__icon
        margin: 0 0 0 auto
        width: 14px
        height: 14px
        min-width: 14px
        fill: #2F5FF5
        transform: rotate(180deg)
    &.collapsed
        .accordion-button

            &:after
                background: $accent
            &__icon
                transform: none
                fill: #98A3BA

.accordion-button:not(.collapsed)
    background: transparent
    // padding: 40px 20px 20px 
    color: #fff
    box-shadow: none
    border-color: $accent
    &:after
        background: $accent
        transform: none
        z-index: 1
    &::before
        color: $accent

.accordion-item:first-of-type .accordion-button
    border-radius: 0

.accordion-item:first-of-type, .accordion-item:last-of-type, .accordion-item:last-of-type .accordion-button.collapsed
    border-radius: 0

.accordion-body
    padding: 0 20px 40px 95px
    color: #98A3BA
    font-weight: 500
    font-size: 16px
    line-height: 140%

.question-content
    max-width: 580px
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

.manager-box
    margin: auto 0
    max-width: 265px
    width: 100%
    &__avatar
        border-radius: 50%
        border: 1px solid #2F5FF5
        box-shadow: 0px 0px 19.13px 0px #2F5FF599
        overflow: hidden
        margin: 0 0 20px
        width: 120px
        height: 120px
        min-width: 120px
        background: #D9D9D9
        img
            width: 100%
            height: 100%
            object-fit: cover
    .h4
        margin: 0 0 10px
    &__position
        color: #667085
    .box-text
        margin: 30px 0 0
        font-size: 18px
        font-weight: 600
        color: #C7CFDF

.certificates-section
    border-top: 1px solid #22304D
    border-bottom: 1px solid #22304D
    position: relative
    overflow: hidden
    h2
        margin: 0 0 20px

.certificates-slider
    overflow: hidden
    .slick-list
        overflow: visible
        padding: 40px 0
    .slick-track
        display: flex
        align-items: flex-start
    .slick-slide
        height: auto
    .slide
        display: flex
        align-items: flex-start
        justify-content: flex-start
        transition: .35s ease
        transform: scale(.64)
        transform-origin: top right

    .slick-current
        transform: scale(1)
        z-index: 5
        .certificates-item
            &::before
                opacity: 0
            img
                box-shadow: 0px 0px 19.13px 0px rgba($accent, .6)

.certificates-item
    transition: .35s ease
    position: relative
    z-index: 1
    border-radius: 20px
    border: 1px solid #2F5FF5
    &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 0.2
        background: #0B1324
        border-radius: 20px
    img
        border-radius: 20px
        transition: .35s ease
        box-shadow: 0px 0px 20px 0px rgba($accent, .4)

.certificates-bottom
    // margin-top: 24px
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 16px

.certificates-counter
    font-size: 24px
    line-height: 1
    color: #C7CFDF
    font-family: $title-font
    font-weight: 500
    display: flex
    align-items: center
    .total
        color: #667085
        display: flex
        align-items: center
        &::before
            content: '/'
            display: inline-block

.certificates-counter
    margin: 0 30px 0 0

.certificates-arrows
    display: flex
    align-items: center
    gap: 10px

.stends
    padding: 110px 0

.stend-card
    width: 100%
    padding: 40px 0
    position: relative
    z-index: 1
    margin: 0 0 -1px
    transition: .3s ease
    &::before, &:after
        content: ''
        position: absolute
        width: 100%
        height: 1px
        left: 0
        background: #22304D
        transition: .3s ease
    &:before
        top: 0
    &:after
        bottom: 0
    &:hover
        background: linear-gradient(0deg, #101A31, #101A31), linear-gradient(243.37deg, rgba(0, 132, 255, 0.3) -4.85%, rgba(47, 95, 245, 0) 31.17%)
        // background: linear-gradient(243.37deg, rgba(0, 132, 255, 0.3) -4.85%, rgba(47, 95, 245, 0) 31.17%)
        z-index: 2
        &:before, &:after
            height: 2px
            background: linear-gradient(90deg, #88A5FF 0%, #2F5FF5 100%)
        .stend-card
            &__img
                box-shadow: 0px 0px 20px 0px #2F5FF566
                border: 1px solid #2F5FF5
    &__img
        width: 100%
        height: 300px
        background: #D9D9D9
        border: 1px solid transparent
        border-radius: 20px
        @include d-flex
        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 20px
    .box-text
        color: #98A3BA
        font-weight: 600
        font-size: 18px
        line-height: 120%
        max-width: 454px
    &__title
        max-width: 433px

.photos-gallery
    padding-bottom: 120px

.photos-gallery-card
    width: 100%
    height: 500px
    position: relative
    z-index: 1
    padding: 40px
    border-radius: 20px
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: flex-end
    border: 1px solid transparent
    transition: .3s ease
    &:hover
        border: 2px solid $accent
        &:before
            background: rgba(#101a31, .7)
        &:after
            height: 100%
            background: linear-gradient(245.27deg, rgba(0, 132, 255, 0.3) -13.86%, rgba(47, 95, 245, 0) 48.11%)
    &__img
        width: 100%
        height: 100%
        object-fit: cover
        position: absolute
        z-index: 1
        left: 0
        top: 0
        border-radius: 20px
    &::before
        content: ''
        position: absolute
        z-index: 2
        width: 100%
        height: 100%
        background: rgba(#0B1324, .4)
        left: 0
        top: 0
        transition: .3s ease
        border-radius: 20px
    &:after
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 268px
        z-index: 1
        transition: .3s ease
        background: linear-gradient(360deg, #0B1324 0%, rgba(16, 26, 49, 0) 100%)
        border-radius: 20px
    &__body
        width: 100%
        position: relative
        z-index: 2
        color: #fff
    &__title
        margin: 0

.technical-equimpent
    padding: 120px 0 0        


.technical-equimpent-card
    width: 100%
    height: 800px
    position: relative
    z-index: 2
    padding: 40px
    border-radius: 20px
    display: flex
    align-items: flex-end
    justify-content: flex-end
    &__img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 20px
        position: absolute
        left: 0
        top: 0
    &:before, &:after
        content: ''
        position: absolute
        left: 0
        width: 100%
    &::before
        top: 0
        height: 100%
        // background: rgba() 
    &:after
        height: 268px
        bottom: 0
        background: linear-gradient(360deg, #0B1324 0%, rgba(16, 26, 49, 0) 100%)
    &__body
        width: 100%
        position: relative
        z-index: 2

.works-section
    border-top: 1px solid #22304D
    padding: 140px 0 0

.works-slider-arrows
    display: flex
    align-items: center
    justify-content: flex-end
    margin: 0 0 60px
    .slick-next
        margin-left: 10px
    
.works-slider
    .slick-list
        margin: 0 -10px
    .slide
        padding: 0 10px
    

.text-info
    padding: 20px
    border-left: 2px solid #2F5FF5
    background: #101A31
    color: #fff !important
    margin: auto 0 0
    font-size: 20px
    font-weight: 600
    line-height: 140%

.callback-section
    position: relative
    z-index: 1
    padding: 0 0 140px
    overflow: hidden
    &:before
        content: ''
        position: absolute
        z-index: -1
        left: 50%
        top: -200px
        transform: translate(-50%,0)
        background: url('../img/callback-bg.png') no-repeat center
        background-size: 100%
        width: 1400px
        height: 1400px
    h2
        margin: 0 0 40px
    .text-big
        color: #98A3BA
        font-weight: 500
        max-width: 610px
        margin: 0 0 20px

.callback-content
    display: flex
    flex-direction: column
    height: 100%
    width: 100%
    max-width: 665px


.callback-wrapper
    max-width: 600px
    width: 100%
    margin: 0 0 0 auto
    border: 2px solid $accent
    border-radius: 20px
    background: #101A31
    box-shadow: 0px 0px 20px 0px #2F5FF599
    padding: 50px 60px

.consent
    margin: 20px 0 0
    color: #667085
    line-height: 120%

.form-callback
    [type='submit']
        margin: 40px 0 0    


