/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1350px)
    .nav-menu
        margin: 0 auto 0 30px

    .container
        padding: 0 24px

    header::before
        width: calc( 100% - 48px )

    header .phone, header .address
        margin: 0 20px 0 0

@media only screen and (max-width: 1200px)
    header::before
        width: 100%

    .nav-menu
        display: none
        position: absolute
        right: 0
        top: 100%
        margin: 0
        background: #101A31
        border-radius: 0 0 0 20px
        padding: 60px 40px
        .address, .btn-callback-header
            display: flex
        .address
            margin: 93px 0 40px
            padding: 0 20px

    .menu
        flex-direction: column
        align-items: flex-start
        padding: 0 20px
        font-size: 16px
        li
            margin: 0 0 20px
            &:last-child
                margin: 0

    header
        padding: 0
        &::before
            background: #22304D
        .logo
            margin: 0 auto 0 0
        .address, .btn-callback-header
            display: none

    .btn-burger
        display: flex

    .phone
        font-size: 16px

    h1, .h1
        font-size: 80px

    .h1
        font-size: 40px

    h2, .h2
        font-size: 34px
        margin: 0 0 40px

    .p-200
        padding: 140px 0

    .p-140
        padding: 100px 0

    .about-company h2
        margin: 0 0 70px

    .problems-section
        padding: 0 0 60px

    .btn-all-services
        margin: 40px auto 0

    .steps-work-card__number
        font-size: 50px

    .steps-work-card
        padding: 20px

@media only screen and (max-width: 992px)
    .main
        padding: 80px 0 40px
        .btn-price
            margin: 20px 0 0
        .h1
            margin: 0 0 20px
        .text-big
            max-width: none
            margin: 0
        &:after
            height: 220px
            background: linear-gradient(180deg, rgba(11, 19, 36, 0) 0%, #0B1324 100%)

    h1
        margin: 0 0 172px
        font-size: 70px

    .h1
        font-size: 34px
        margin: 0 0 20px
        br
            display: none

    h2, .h2
        font-size: 28px
        line-height: 100%

    h3, .h3
        font-size: 22px
        margin: 0 0 20px

    h4, .h4
        font-size: 20px

    .mb-60
        margin-bottom: 40px

    .mb-140
        margin-bottom: 60px

    input, textarea, select
        font-size: 16px

    input, select
        height: 39px

    textarea
        height: 100px

    label
        margin: 0 0 20px
        &:last-child
            margin: 0

    .form-callback [type=submit]
        margin: 20px 0 0

    .subtitle-text
        font-size: 16px
        margin: 0 0 10px
        &::before
            margin: 10px 10px 0 0

    .text-big
        font-size: 18px

    .p-200, .p-140
        padding: 60px 0

    .advantages-image
        top: 45%

    .advantages-list
        display: flex
        align-items: stretch
        margin-bottom: 230px
        &:last-child
            margin-bottom: 0

    .advantages-box
        margin: 0
        width: 50%
        max-width: none

    .about-wrapper
        margin: 0

    .about-company h2
        margin: 0 0 30px

    .about-company-box__title
        font-size: 44px
        line-height: 1
        margin: 0 0 10px

    .about-company-box .box-text
        font-size: 16px

    .about-card__number
        font-size: 120px

    .problem-card
        padding: 20px 0

    .problem-card__body
        padding: 20px 50px 0 0

    .problem-card__title
        max-width: none
        margin: 0 0 20px

    .problem-card__body
        .box-text
            max-width: none
            font-size: 14px
            line-height: 120%

    .problem-card__price
        margin: 0 0 40px

    .problem-card__link
        top: 20px

    .problem-card__images
        height: 432px !important

    .else-services-card
        width: 50%
        &:nth-child(2)
            border-radius: 0 20px 0 0
        &:nth-child(4), &:nth-child(5)
            border-radius: 0
        &:nth-child(7)
            border-radius: 0 0 0 20px

    .stages-work
        padding: 60px 0
        border-top: 1px solid #22304D
        &__content
            padding: 0
            margin: 0 0 40px
        h2
            margin: 0
            max-width: none
            br
                display: none

    .stages-work-card
        padding: 150px 30px

    .stages-work-card__number
        font-size: 100px

    .callback-section:before
        width: 290px
        height: 290px
        top: 0
        left: auto
        right: 0
        transform: none

    .callback-content
        max-width: none

    .callback-wrapper
        margin: 20px 0 0
        max-width: none
        padding: 40px

    .callback-section
        padding: 0 0 60px

    .callback-section .text-big
        max-width: none

    .text-info
        font-size: 16px

    .steps-works-wrapper
        flex-wrap: wrap

    .steps-work-card
        flex: 100%
        height: auto
        padding: 20px
        &:first-child
            border-radius: 20px 20px 0 0
        &:last-child
            border-radius: 0 0 20px 20px
        &__head
            height: auto
            display: flex
            align-items: center
            flex-wrap: nowrap
            flex-direction: row
            width: 100%
            h4
                display: block
        &__number
            font-size: 40px
            min-width: 200px
        &__body
            display: none
            h4
                display: none
            .box-text
                margin: 20px 0 0
                font-size: 16px
                line-height: 140%
                display: block
        &__arrow
            display: flex
            align-items: center
            justify-content: center
        &.active
            border: 2px solid #2F5FF5
            background: linear-gradient(0deg, #0B1324, #0B1324)

            &::before
                opacity: 1

            .steps-work-card__body
                display: block

            .steps-work-card__arrow
                transform: rotate(180deg)
                fill: #2f5ff5

    .works-section
        padding: 60px 0 0

    .works-slider
        padding: 0 0 90px
        .slick-arrow
            position: absolute
            top: auto
            bottom: 0
        .slick-next
            right: calc( 50% - 55px )

        .slick-prev
            left: calc(50% - 55px)

    .technical-equimpent
        padding: 60px 0 0

    .technical-equimpent-card
        height: 600px

    .stends
        padding: 30px 0 60px

    .stend-card__title
        max-width: none

    .stend-card .box-text
        max-width: none
        font-size: 16px
        line-height: 140%

    .stend-card__img
        margin: 20px 0 0

    .photos-gallery-card
        padding: 20px
        height: 320px
        &:after
            height: 150px

    .photos-gallery
        padding-bottom: 60px

@media only screen and (max-width: 768px)
    .advantages-box
        font-size: 15px
        line-height: 120%
        &__icon
            width: 100px
            height: 100px
            margin: 0 0 -10px

    .about-card
        flex: 100%
        height: auto
        padding: 20px
        flex-direction: row
        align-items: center
        flex-wrap: nowrap
        &:first-child
            border-radius: 20px 20px 0 0
        &:last-child
            border-radius: 0 0 20px 20px
        &__number
            font-size: 50px
            margin: 0 20px 0 0
        .box-text
            max-width: none
            margin: 0
            font-size: 16px
            line-height: 130%

    .stages-work-card
        padding: 0
        border: 1px solid #2F5FF5
        box-shadow: 0px 0px 20px 0px rgba(#2F5FF5, .4)
        &__image
            opacity: 0.4
        &::before
            display: none
        &__number
            margin: 0 0 60px
            font-size: 50px
        .text-big
            font-size: 16px

    .stages-work-card-first
        border-radius: 20px 20px 0 0
        .stages-work-card__content, .stages-work-card__image
            border-radius: 20px 20px 0 0
            &::before
                border-radius: 20px 20px 0 0

    .stages-work-card-last
        border-radius: 0 0 20px 20px
        .stages-work-card__content, .stages-work-card__image
            border-radius: 0 0 20px 20px
            &::before
                border-radius: 0 0 20px 20px

    .stages-work-card__content
        max-width: none
        width: 100%
        height: 100%
        border: none
        border-radius: 0
        padding: 20px

    .technical-equimpent-card
        height: 300px
        padding: 20px

    .technical-equimpent-card:after
        height: 150px

@media only screen and (max-width: 576px)
    h1
        font-size: 54px

    h4, .h4
        font-size: 18px

    .advantages-image
        width: 100%
        top: 43%

    .else-services-card
        width: 100%
        height: auto
        flex-direction: row
        align-items: center
        padding: 20px
        border-color: #2F5FF5
        box-shadow: 0px 0px 20px 0px rgba(#2F5FF5, .4)

        &__footer
            order: -1
            width: 100%
            margin: 0
            br
                display: none
        &__title
            display: none
        &__head
            width: fit-content
            margin-left: auto
        &:first-child
            border-radius: 20px 20px 0 0
        &:nth-child(2), &:nth-child(7)
            border-radius: 0
        &:last-child
            border-radius: 0 0 20px 20px

    .steps-work-card
        h4
            font-size: 18px
        &__number
            font-size: 20px
            min-width: 100px

    .certificates-bottom
        justify-content: space-between

    .certificates-section h2
        br
            display: none

@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)
    .about-company-box__title
        font-size: 30px

    .advantages-list
        margin-bottom: 180px
        &:last-child
            margin: 0

    .advantages-image
        top: 50%

@media only screen and (min-width: 992px)
    .steps-work-card
        &__body
            .box-text
                display: none
        &:hover
            .steps-work-card
                &__body
                    .box-text
                        display: block
